{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>DMGCalc</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'app.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
          rel="stylesheet">
</head>
<body>
    <header>
        <h1>
            League of Legends Calculator
        </h1>
    </header>



    <div class="main-container">
        <div class="champion-container">
            <div class="dropdown">
                <button onclick="dropDownChamp()" class="dropbtn">Select Champion</button>
                <div id="dropdownChampionList" class="dropdown-content">
                    {% for row in all_items %}
                        <p onclick="chosenChamp()">{{ row.championName }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="items">
                <p class="each-item">1</p>
                <p class="each-item">2</p>
                <p class="each-item">3</p>
                <p class="each-item">4</p>
                <p class="each-item">5</p>
                <p class="each-item">6</p>
            </div>

            <div class="level">
                    <p>Level</p>
            </div>
            <div class="spells">
                <p>Q</p>
                <p>W</p>
                <p>E</p>
                <p>R</p>
            </div>
            <div class="stats-page">
                <div class="wrapper">
                    <h3 class="second" id="champion_stats">{{ all_items.0.championName }}</h3>
                    <h3 class="first" >Stats</h3>
                </div>
                <div class="wrapper">
                    <p class="first">Attack Damage:</p>
                    <p class="second" id="champion_stats1">{{ all_items.0.attack_damage }}</p>
                </div>
                <div class="wrapper">
                    <p class="first">Armor:</p>
                    <p class="second" id="champion_stats2">{{ all_items.0.armour }}</p>
                </div>
                <div class="wrapper">
                    <p class="first">Magic Resistance:</p>
                    <p class="second" id="champion_stats3">{{ all_items.0.magic_resistance }}</p>
                </div>
                <div class="wrapper">
                    <p class="first">Health Points:</p>
                    <p class="second" id="champion_stats4">{{ all_items.0.health_points }}</p>
                </div>
            </div>

            <div class="runes">
                <p>Runes</p>
            </div>
        </div>

        <div class="abilities-container">
            <h2>Choose Abilities to Use:</h2>
            <ol class="list-of-abilities">
                <li>Ability1</li>
                <li>Ability2</li>
                <li>Ability3</li>
                <li>Ability4</li>
                <li>Ability5</li>
                <li>Ability6</li>
            </ol>
        </div>

        <div class="dummy-container">
            <div class="dummy">
                <p>Health</p>
                <p>Armor</p>
                <p>Magic Resistance</p>
            </div>
            <div class="damage">
                <p>Physical Damage</p>
                <p>Magical Damage</p>
                <p>True Damage</p>
            </div>
        </div>

    </div>

</body>
</html>